p{
	font-size:
	background-color: ;
	font-family: "Times New Roman", Times, serif;

}
#loinoidau{
	text-align: center;
	font-size: 20px;
}

#trangtri{
	text-align: center;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#tencongty{

}

.thongtincanhan{
	color: red;
	font-style: italic;
}

.noidung{
	color: green;
	font-style: bold;
	text-indent: 30px;
}

.lastfarewell{
	color: blue;
	font-style: normal;
}