h1{
	color: lightcoral;
	text-align: center;
}
.ui-state-heighlight{
	background-color: #fafafa;
	height: calc(1.5rem + 20px);
}
.dragging{
	-ms-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}
/*.glyphicon{
	display: none;
}*/
.glyphicon:hover{
	display: inline;
}
span.glyphicon.glyphicon-trash {
    padding-left: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.todo-style h5{
	background: green;
	/*padding: 10px;*/
}
.doing-style h5{
	background: yellow;
	/*padding: 10px;*/
	
}
.done-style h5{
	background: blue;
	/*padding: 10px;*/
}
.todo-style h5 , .doing-style h5 , .done-style h5{
	padding: 10px;
}